

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#table_id_filter {
    display: none; 
}

#form_ajax_error, .errorlist {
    color: red;
}

.form-group {
    padding-bottom: 10px;
}